<form [formGroup]="myForm">
  <mat-form-field class="formField" appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="name"
      formControlName="name"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="last_name"
      formControlName="last_name"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="email"
      formControlName="email"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Telephone</mat-label>
    <input
      matInput
      type="text"
      minlength="10"
      maxlength="10"
      placeholder="tel"
      formControlName="tel"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Birthday</mat-label>
    <input
      matInput
      type="date"
      placeholder="birthday"
      formControlName="birthday"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Address</mat-label>
    <input
      matInput
      type="text"
      placeholder="address"
      formControlName="address"
      [required]="true"
    />
  </mat-form-field>

  <!-- 
  <mat-form-field class="formField">
    <mat-select
      formControlName="contact_type"
      placeholder="contact_type"
      [disabled]="true"
      value="Cliente"
    >
      <mat-option>Cliente</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="formField">
    <mat-select formControlName="origin" placeholder="origin">
      <mat-option>Landing page</mat-option>
    </mat-select>
  </mat-form-field> -->

  <button (click)="registerClient()" [disabled]="!isFormValid">
    register client
  </button>
</form>
