<nav>
  <ul>
    <li>
      <a [routerLink]="['/user/clients']" [routerLinkActive]="['active']"
        >clients</a
      >
    </li>
    <li>
      <a [routerLink]="['/user/add-client']" [routerLinkActive]="['active']"
        >add client</a
      >
    </li>
  </ul>
</nav>

<form [formGroup]="myForm">
  <mat-form-field class="formField" appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="name"
      formControlName="name"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="last_name"
      formControlName="last_name"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="email"
      formControlName="email"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Telephone</mat-label>
    <input
      matInput
      type="tel"
      placeholder="tel"
      formControlName="tel"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Birthday</mat-label>
    <input
      matInput
      type="date"
      placeholder="birthday"
      formControlName="birthday"
      [required]="true"
    />
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Address</mat-label>
    <input
      matInput
      type="text"
      minlength="10"
      placeholder="address"
      formControlName="address"
      [required]="true"
    />
  </mat-form-field>

  <button (click)="registerClient()" [disabled]="!isFormValid">
    register client
  </button>
</form>
