.client-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
}

.client {
  width: 100%;
  margin: 10px;
  padding: 5px;
  background-color: rgb(255 255 255 / 82%);
  height: auto;
  max-width: 300px;
  border-radius: 10px;
  color: #000;
  box-shadow: 0px 0px 5px rgb(1 9 18);
}

.buttons-container {
  display: block;
  width: 100%;
}

.buttons-container button {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(100, 0, 0, 0.72);
  border: none;
}

.buttons-container button:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgba(190, 11, 11, 0.719);
}
