<div class="search-bar-container">
  <input
    #clientName
    (keyup)="searchClient(clientName.value)"
    type="text"
    placeholder="client name"
  />
  <button (click)="searchClient(clientName.value)">search</button>
</div>
<div class="client-container">
  <div class="client" *ngFor="let client of clients$ | async">
    <p>{{ client.name | uppercase }} {{ client.last_name | uppercase }}</p>
    <p>{{ client.tel }}</p>
    <div class="buttons-container">
      <button (click)="removeClient(client._id)">delete</button>
    </div>
  </div>
</div>
