<mat-divider></mat-divider>
<div class="search-bar-container">
  <select name="keyName" #keyName class="filter-input">
    <option value="name" selected>name</option>
    <option value="last_name">last name</option>
    <option value="email">email</option>
    <option value="tel">tel</option>
  </select>
  <input
    #clientProperty
    (keyup)="filterClients(keyName.value, clientProperty.value)"
    type="text"
    placeholder="{{ keyName.value }}"
  />
  <button
    mat-flat-button
    color="primary"
    (click)="filterClients(keyName.value, clientProperty.value)"
  >
    filter
  </button>
</div>
<mat-divider></mat-divider>
<div class="client-container">
  <div class="client" *ngFor="let client of clients$">
    <app-client
      [client]="client"
      (deleteEvent)="removeClient($event)"
    ></app-client>
  </div>
</div>
