.buttons-container {
  display: block;
  width: 100%;
}

.buttons-container button {
  display: block;
  width: 100%;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  border: none;
}

.buttons-container button:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgba(190, 11, 11, 0.719);
}
